/* Base Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    font-family: sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    gap: 1rem;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section.section {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
    padding: 2rem;
    background-color: #fff;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start; /* Snap alignment */
}

.content {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    display: inline-flex; /* Changed to inline-flex for buttons */
    align-items: center;
    padding: 10px 20px; /* Added padding for button look */
    border-radius: 5px; /* Rounded corners */
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    font-weight: bold; /* Font weight */
    margin: 0.5rem; /* Space around buttons */
    transition: background-color 0.3s, transform 0.2s; /* Transitions for effects */
}

a.btn {
    background-color: #007BFF; /* Primary button color */
}

a.btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarges button on hover */
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between social buttons */
    margin-top: 1rem; /* Space above social buttons */
}

.social-buttons a {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 125px; /* Fixed width */
    height: 50px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.social-buttons a img {
    width: 20px;
    height: 20px;
}

.social-buttons a:hover {
    background-color: #007BFF;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}
